<div class="row">
    <div *ngIf="scorecardState != 3" class="col-md-12">
        <p *ngIf="scorecardState == 2"><strong>Congratulations! </strong>All match scores are saved in the system.  Consider reviewing matches with the opposing team to change scores before you commit.</p>
        <button class="btn btn-sm btn-success" (click)="finalizeMatch()" [disabled]="scorecardState != 2">Complete Scorecard</button>
    </div>
</div>
<br />
<div>
    <div class="row">
        <div class="col-xs-4">
            <button class="btn btn-sm btn-primary"
                    [disabled]="selectedRoundIndex == 0"
                    (click)="onPreviousRound()">
                <i class="fa fa-arrow-left"></i>
            </button>
        </div>
        <div class="col-xs-4">
            <h4 class="text-center">Round {{selectedRoundIndex + 1}}</h4>
        </div>
        <div class="col-xs-4">
            <button class="btn btn-sm btn-primary pull-right"
                    [disabled]="selectedRoundIndex == rounds.length - 1"
                    (click)="onNextRound()">
                <i class="fa fa-arrow-right"></i>
            </button>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="row">
        <player-match *ngFor="let match of selectedRound.playerMatches; let i = index" [myTr]="{match: match, maxScore: maxScore, scorecardState: scorecardState, index: i}" (onSaveScores)="outputSaveScores()"></player-match>
    </div>
</div>
