
.save-scores {
    font-size: 18px;
    margin-bottom: 15px;
}

.border-shadow {
    box-shadow: 2px 7px 7px;
    padding: 5px;
    margin-bottom: 10px;
}

.border-shadow-grey {
    box-shadow: 10px 5px 17px;
    padding: 10px;
    margin-bottom: 25px;
}

.scoring {
    font-size: 20px;
}

.results-list ul {
    margin: 0;
    padding: 0;
}

    .results-list ul li {
        list-style: none;
        padding: 0;
    }

.handicapError {
    background-color: red !important;
}

.round_results ul {
    margin: 0;
    padding: 0;
}

    .round_results ul li {
        display: inline-block;
        text-decoration: none;
        padding: 0;
        margin-right: 10px;
    }