<div class="row border-shadow">
    <div class="row">
        <div class="col-xs-6">
            <h4>{{viewModel.format == 0 ? "8-Ball Scorecard" : "9-Ball Scorecard"}}</h4>
        </div>
        <div *ngIf="viewModel.otherScorecardId > 0" class="col-xs-6">
            <button class="btn btn-sm btn-info" (click)="onOtherScorecard()">{{viewModel.format == 1 ? "8-Ball Scorecard" : "9-Ball Scorecard"}}</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div><strong>{{viewModel.homeTeamName}}</strong> <span *ngIf="teamResults.homeTeamHandicap > 0">(+{{teamResults.homeTeamHandicap}})</span> <a href="#homeTeamPlayerResults" data-toggle="modal">Player Results</a></div>
            <div class="results-list">
                <ul>
                    <li>Pts: {{teamResults.homeTeamTotalPoints}}</li>
                    <li *ngIf="viewModel.format == 0">Rds: {{teamResults.homeTeamTotalRounds}}</li>
                </ul>
            </div>
        </div>
        <div class="col-xs-6">
            <div><strong>{{viewModel.awayTeamName}}</strong> <span *ngIf="teamResults.awayTeamHandicap > 0">(+{{teamResults.awayTeamHandicap}})</span> <a href="#awayTeamPlayerResults" data-toggle="modal">Player Results</a></div>
            <div class="results-list">
                <ul>
                    <li>Pts: {{teamResults.awayTeamTotalPoints}}</li>
                    <li *ngIf="viewModel.format == 0">Rds: {{teamResults.awayTeamTotalRounds}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="viewModel?.format == 0 && teamResults != undefined && teamResults.homeRoundsWon != undefined && teamResults.awayRoundsWon != undefined">
        <div class="col-xs-6">
            <div class="round_results">
                <h6 class="text-primary text-uppercase">Rounds</h6>
                <ul class="pagination">
                    <li *ngFor="let homeRoundWon of teamResults.homeRoundsWon">
                        {{homeRoundWon}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="round_results">
                <h6 class="text-primary text-uppercase">Rounds</h6>
                <ul class="pagination">
                    <li *ngFor="let awayRoundWon of teamResults.awayRoundsWon">
                        {{awayRoundWon}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div *ngIf="viewModel.state != 0 && viewModel.state != 3" class="row">
        <div class="col-xs-12">
            <button class="btn btn-sm btn-danger pull-right" [disabled]="viewModel.state == 0" (click)="onRequestReset()">Reset Scorecard</button>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="row" *ngIf="scorecardId > 0">
    <div *ngIf="viewModel.state == 0" class="col-xs-12">
        <p>To view the entire team handicaps prior to setting lineup, click 'Player Results' for the teams in the team results above.</p>
        <p>To add a player that is not on the team roster, click Add New Or Substitute.</p>
        <div class="row" *ngIf="!handicapsAreNotSet">
            <div class="col-xs-12 col-sm-6">
                <h5>Home Team Lineup</h5>
                <form class="form-group" #selectHome="ngForm" (ngSubmit)="addPlayerToRoster(true)">
                    <select [(ngModel)]="selectedHomePlayer"
                            class="form-control"
                            name="homePlayer">
                        <option *ngFor="let player of viewModel.homePlayers"
                                [ngValue]="player">
                            {{player.name}}
                        </option>
                    </select>
                    <br />
                    <button class="btn btn-sm btn-success">Add Selected</button>
                    <button type="button" class="btn btn-sm btn-danger" data-target="#addSubstituteHome" data-toggle="modal">Add New or Substitute</button>
                </form>



                <table class="table table-striped table-condensed table-responsive">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Hdcp</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let player of lineup.homePlayers; let i = index">
                            <td>{{player.name}}</td>
                            <td>{{player.handicap}}</td>
                            <td><i class="glyphicon glyphicon-minus-sign" (click)="removePlayer(i, true)"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-12 col-sm-6">
                <h5>Away Team Lineup</h5>
                <form class="form-group" #selectAway="ngForm" (ngSubmit)="addPlayerToRoster(false)">
                    <select [(ngModel)]="selectedAwayPlayer"
                            class="form-control"
                            name="awayPlayer">
                        <option *ngFor="let player of viewModel.awayPlayers"
                                [ngValue]="player">
                            {{player.name}}
                        </option>
                    </select>
                    <br />
                    <button class="btn btn-sm btn-success">Add Selected</button>
                    <button type="button" class="btn btn-sm btn-danger" data-target="#addSubstituteAway" data-toggle="modal">Add New or Substitute</button>
                </form>



                <table class="table table-striped table-condensed table-responsive">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Hdcp</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let player of lineup.awayPlayers; let i = index">
                            <td>{{player.name}}</td>
                            <td>{{player.handicap}}</td>
                            <td><i class="glyphicon glyphicon-minus-sign" (click)="removePlayer(i, false)"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row" *ngIf="handicapsAreNotSet">
            <div class="alert alert-danger" *ngFor="let player of playersWithNoHandicap">{{player.name}} does not have a handicap set!  Have manager fix and refresh score card.</div>
        </div>

        <hr />

        <button class="btn btn-sm btn-primary"
                style="margin-bottom:25px;"
                [disabled]="handicapsAreNotSet || lineup == undefined || lineup.homePlayers.length != requiredPlayerCount || lineup.awayPlayers.length != requiredPlayerCount"
                (click)="startMatches()">
            <i *ngIf="enteringLineup" class="fa fa-spinner fa-pulse fa-fw"></i> Start
        </button>

    </div>
    <div *ngIf="viewModel.state > 0" class="col-xs-12">
        <round [rounds]="viewModel.rounds"
               [maxScore]="viewModel.format == 0 ? 15 : 1"
               [scorecardState]="viewModel.state"
               (onSaveScores)="getTeamResults()"
               (onFinalizeMatch)="finalizeMatch()">

        </round>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="homeTeamPlayerResults" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">{{viewModel.homeTeamName}}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <p>Average score only applies if the player was a playback.</p>
                        <p>H - Handicap T - Total Score A - Average Score W - Wins</p>
                        <table class="table table-striped table-condensed table-responsive">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>H</th>
                                    <th>T</th>
                                    <th>A</th>
                                    <th>W</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let playerViewModel of playerResults.homePlayerResults">
                                    <td>{{playerViewModel.name}}</td>
                                    <td>{{playerViewModel.handicap}}</td>
                                    <td>{{playerViewModel.totalScore}}</td>
                                    <td>{{playerViewModel.averageScore}}</td>
                                    <td>{{playerViewModel.wins}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" tabindex="-1" id="awayTeamPlayerResults" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">{{viewModel.awayTeamName}}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <p>Average score only applies if the player was a playback.</p>
                        <p>H - Handicap T - Total Score A - Average Score W - Wins</p>
                        <table class="table table-striped table-condensed table-responsive">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>H</th>
                                    <th>T</th>
                                    <th>A</th>
                                    <th>W</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let playerViewModel of playerResults.awayPlayerResults">
                                    <td>{{playerViewModel.name}}</td>
                                    <td>{{playerViewModel.handicap}}</td>
                                    <td>{{playerViewModel.totalScore}}</td>
                                    <td>{{playerViewModel.averageScore}}</td>
                                    <td>{{playerViewModel.wins}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" tabindex="-1" id="addSubstituteHome" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">{{viewModel.homeTeamName}} - New Player</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <add-substitute [sessionId]="viewModel.sessionId"
                                        [teamId]="viewModel.homeTeamId"
                                        [filterPlayers]="viewModel.homePlayers"
                                        (onAdd)="onAddNewSub($event, true)"
                                        #homeSub></add-substitute>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="homeSub.clear()">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" tabindex="-1" id="addSubstituteAway" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">{{viewModel.awayTeamName}} - New Player</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <p>Search the system for a player</p>
                        <p>If the player exists, select from the list.</p>
                        <p>If the player exists and has played in this session, the handicap is already known.  Otherwise you must set a handicap</p>
                        <p>If the player does not exist, you must set the handicap.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <add-substitute [sessionId]="viewModel.sessionId"
                                        [teamId]="viewModel.awayTeamId"
                                        [filterPlayers]="viewModel.awayPlayers"
                                        (onAdd)="onAddNewSub($event, false)"
                                        #awaySub></add-substitute>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="awaySub.clear()">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->