@model IEnumerable<Mippa.Models.Manager>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    @foreach (var manager in Model)
    {
        <div class="row">
            <div class="col-xs-12">
                <div class="list-group">
                    <div class="list-group-item-heading">
                        <h4>@manager.Name</h4>
                    </div>
                    @foreach (var session in manager.Sessions)
                    {
                        <div class="list-group-item">
                            <h4>@session.Name</h4>
                            <div>
                                <a class="btn btn-primary"asp-controller="app" asp-action="schedule" asp-route-id="@session.SessionId">Schedule</a>
                                <button class="btn btn-info">View Standings</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>
