@model IEnumerable<MIPPA.Models.PlayerCount>
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="">

    <link rel="stylesheet" type="text/css" href="~/vendors/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="~/vendors/css/grid.css">
    <link rel="stylesheet" type="text/css" href="~/vendors/css/ionicons.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendors/css/animate.css">
    <link rel="stylesheet" type="text/css" href="~/resources/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/resources/css/queries.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,100,300italic' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>MIPPA</title>
    <style>
        .main-nav li a:link,
        .main-nav li a:visited {
            padding: 8px 0;
            color: #e67e22;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 90%;
            border-bottom: 2px solid transparent;
            -webkit-transition: border-bottom 0.2s;
            transition: border-bottom 0.2s;
        }

        .main-nav li a:hover,
        .main-nav li a:active {
            border-bottom: 2px solid #e67e22;
        }

        body {
            background: #2c3e50;
            color: #e67e22;
        }

        .player-table {
            background: #202d3a;
            color: white;
        }

        .table-hover tbody tr:hover td {
            background: #384f66 !important;
        }

        .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
            background-color: #263645;
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <div class="row">
                <ul class="main-nav js--main-nav">
                    <li><a asp-action="index">Home</a></li>
                    <li><a asp-action="membership">Memberships</a></li>
                    <li><a href="#">Qualifications</a></li>
                    <li><a asp-action="tournaments">State Tournament</a></li>
                    <li><a asp-action="leagues">Leagues</a></li>
                    <li><a asp-controller="app" asp-action="login">Managers</a></li>
                </ul>
                <a class="mobile-nav-icon js--nav-icon"><i class="ion-navicon-round"></i></a>
            </div>
        </nav>
    </header>

    <div class="container">
        <div class="row">
            <h1>Qualifications for 2017</h1>
            <p>Below is a list of players for the 2017 season and the number of plays. 8 Plays are required for the MIPPA State Tournament</p>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-hover table-striped player-table">
                    <thead>
                        <tr>
                            <th>Player</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var playCount in Model)
                        {
                            <tr>
                                <td>@playCount.Name</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <footer>
        <div class="row">
            <div class="col span-1-of-2">
                <ul class="footer-nav">
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Press</a></li>
                </ul>
            </div>
            <div class="col span-1-of-2">
                <ul class="social-links">
                    <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                    <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                    <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                    <li><a href="#"><i class="ion-social-instagram"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <p>
                Copyright &copy; 2016 by MIPPA. All rights reserved.
            </p>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
    <script src="//cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.jsdelivr.net/selectivizr/1.0.3b/selectivizr.min.js"></script>
    <script src="~/vendors/js/jquery.waypoints.min.js"></script>
    <script src="~/resources/js/script.js"></script>

</body>
</html>